#root, html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #FCDC94;
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px #78ABA8;
    backdrop-filter: blur(5px);

}

.heading{
    display: flex;
    align-items: center;
    font-size:40px;
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: 500;
    color: #EF9C66;
}

.button{
    cursor: pointer;
    width: 70%;
    height: 10%;
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    color: #C8CFA0;
    background-color: #78ABA8;
    border: none;
    box-shadow: 2px 4px;
    border-radius: 50px;
}

.button:active{
    animation: rotate 0.5s;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media (max-width: 600px){
    .card{
        width: 90%;
        height: 60%;
    }
    .heading{
        font-size: 20px;
    }
    .button{
        width: 80%;
        height: 15%;
        font-size: 12px;
    }
}

